<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplicationHandler</servlet-name>
        <servlet-class>ApplicationHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>Users.Application</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataIO</servlet-name>
        <servlet-class>Data.DataIO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationHandler</servlet-name>
        <url-pattern>/ApplicationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/Application</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataIO</servlet-name>
        <url-pattern>/DataIO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
